.title {
	color: #2c4251;
}

.container {
	display: flex;
	flex-direction: row;
}

.controls {
	margin: 1em;

	input {
		height: 26px;
	}

	button {
		padding: 5px 10px;
		font-size: 1em;
		background-color: #2c4251;
		color: #edf5fc;
	}
}

.empty-label {
	padding-left: 40px;
}

.list-header {
	padding-left: 40px;
	display: inline-block;
}

.list {
	list-style: none;
}

.todo {
	display: flex;
	flex-direction: row;

	input {
		margin: 10px;
	}
}

.todoContent {
	min-width: 300px;
	text-align: center;
	color: #2c4251;
	border: 1px solid #2c4251;
	padding: 3px;
}
